html,

body {
	background-color:#62a8ea;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    border-color: #103b7f;
    padding: 10px;
    padding-right: 10px;
    margin: auto;
	max-width: 900px;
}
header a{
	color: white;
}
a {
	text-decoration: none;
	padding: 10px;
	color: #4e77ba;
	margin: auto;
	font-size: 20px;
}
a:hover{
	color: #103b7f;
}
header{
	color: white;
	text-align: center;
}
h3{
	color: #4e77ba;
	padding-left: 15px;
}
footer{
	background-color: white;
	text-align: right;
	margin: auto;
	max-width: 900px;
	color: #103b7f;
}

.arrayBox{
	width: 50px;
}

#divCreate{
	width: 100px;
	height: 50px;
	background: aquamarine;
	border-radius: 25px;
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 3s;
    animation-duration: 3s;
	
}

@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#divAnimation{
			width: 100px;
			height: 100px;
			background: orange;
			animation-name: change;
			animation-duration: 3s;
			animation-iteration-count: 0;
			animation-direction: alternate;
			-webkit-animation-direction: alternate;
			-webkit-animation-iteration-count: 0;
			-webkit-animation-name: change;
			-webkit-animation-duration: 3s;
			
		}
@keyframes change{
			20%{background: orange; width: 200px; height: 200px;}
			40%{background: yellow;}
			60%{background: green;}
			80%{background: blue; width: 50px; height: 50px;}
			90%{background: purple;}
			100%{background: red;}
		}